*{
	padding: 0px;
	margin: 0px;
	-webkit-tap-highlight-color:transparent;
	box-sizing: border-box;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
	color: black;
	background-color: rgb(245,245,245);
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input,button{
	border:none;
	outline: none;
	-webkit-appearance:none;
}
ul,ol{
	list-style: none;
}
/*头部样式*/
.afw_container{
	width:100%;
	/*height: 100%;*/
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	background-color: rgb(238,238,238);
	/*padding-top: 44px;*/
/*	overflow: hidden;*/
}
.afw_container:before,.afw_container:after{
	content: "";
	width: 0;
	height: 0;
	clear: both;
}
.afw_container>.afw_header{
	position: fixed;
	left: 0;
	top: 0;
	height: 44px;
	width: 100%;
	z-index: 1000;
}
.afw_container>.afw_header>.afw_header_box{
	background-color: rgba(199,21,33,1);
	height: 44px;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	background-color: #ffffff;
}
.afw_container>.afw_header>.afw_header_box>a{
	width: 104px;
	height: 44px;
	padding: 12px 10px;
}
.afw_container>.afw_header>.afw_header_box>a>img{
	width: 84px;
	height: 20px;
}
/*侧边菜单*/
.afw_header_box{
	position: relative;
}
.Sidebar{
	background-image: url(../images/xiQAAAAASUVORK5CYII=.png);
	background-size: 20px 20px;
	position: absolute;
	left: 84%;
	top: 5%;
	background-repeat: no-repeat;
	width: 44px;
	height: 44px;
	background-color: white;
	background-position: 50% 50%;
}
#mo_word{
	width: 100%;
	height: 100%;
	line-height: 260%;
	font-size: 16px;
}
.mo_header{
	position: fixed;
	top: 0px;
	z-index: 20;
	height: 44px;
	width: 100%;
	background-color: white;
	display: flex;
	min-width: 320px;
	border-bottom: 1px solid rgb(214,214,214);
}
.mo_header>.mo_logo{
	height: 44px;
	width:104px;
	padding-top: 11px;
	padding-left: 3px;
}
.mo_header>.mo_logo>img{
	width: 84px;
	height: 20px;

}
.mo_header>.mo_word{
	width: 100%;
	height: 100%;
	line-height: 250%;
	font-size: 18px;

}
.mo_horizontal>button{
    padding:12px;
    float: right;
    height: 100%;
    background-color: white;
}
.mo_horizontal>button>i{
    width:20px;
    height:20px;
    background: url(../images/icon_nav-caidan.png) no-repeat center;
    background-size: 20px 20px;
    display:block;
}
.mo_content{
	margin: 0px auto;
	max-width: 640px;
	min-width: 320px;
	width:100%;
	padding: 0 0 65px;
	background-color: #f5f5f5;
	/*overflow: hidden;*/
}
.de_section{
	position: fixed;
	z-index: 100;
	top: 44px;
	left: 0px;
	right: 0px;
	height: 40px;
}
.de_section>.de_header{
	height:44px;
	width: 100%;
	margin: 0px auto;
	min-width: 320px;
	max-width: 640px;
	background-color: white;
	display: fixed;
	border-bottom: 1px solid rgb(214,214,214);
}
.de_section>.de_header>img{
	height: 22px;
	margin-top: 11px;
	margin-left:10px;
}
.de_section>.de_header>.img{
	margin-left: 0px;
}
.de_section>.de_header>.de_address{
	height: 43px;
	line-height: 20px;
	background-color: white;
	vertical-align: top;
}
.de_center{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin-top: 88px;
}
.de_center>.de_center_box>.de_center_header>a{
	display: block;
	width: 100%;
	display: flex;
}
.de_center>.de_center_box>.de_center_header>a>div:nth-child(1){
	background:url(../images/people1.jpg) no-repeat center;
	width: 56px;
	height: 56px;
	border-radius: 28px;
	margin:5px;
}
#person2_header{
	background:url(../images/people2.jpg) no-repeat center;
}
.de_center>.de_center_box>.de_center_header{
	position: relative;
	background-color: white;
	margin-bottom: 10px;
}
.de_center>.de_center_box>.de_center_header>a>div:nth-child(2){
	width: 80%;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
	margin-top: 5px;
	color: rgb(102,102,102);
}
.de_center>.de_center_box>.de_center_header>a>div:nth-child(2)>p>input{
	width: 45px;
	height: 15px;
	border-radius: 15px;
	line-height: 16px;
	color: white;
	font-size: 10px;
	background-color: rgb(238,36,238);
	cursor: pointer;
}
.de_center>.de_center_box>.de_center_header>.de_ta{
	width:90px;
	height: 30px;
	position:absolute;
	top: 15px;
	right: 10px;
	padding: 5px 18px;
	font-size: 12px;
	line-height: 20px;
	background-color: #33b371;
	border-radius: 3px;
	color: white;
}
.de_center>.de_center_box>.de_center_header>a>div:nth-child(2)>p>input:nth-child(2){
	background-color: rgb(89,164,255);
}
.de_center>.de_center_box>.de_center_header>a>div:nth-child(2)>p{
	margin-top: -10px;
}

.de_a,.de_p{
	color: rgb(102,102,102);
	cursor: pointer;
	padding-left:10px;
	padding: 5px;
}
.de_p{
	padding: 10px;
}
.de_a>span{
	padding-left: 10px;
	color: red;
}
.de_ul_img_box{
	overflow: hidden;
}
.de_ul_img_box>li{
	float: left;
	width: 33.33333%;
}
.de_ul_img_box>li>a{
	display: block;
	width: 100%;
}
.de_ul_img_box>li>a>img{
	display: block;
	height: auto;
	width:98%;
}
.detail{
	background-color:rgb(245,245,245); 
	overflow: hidden;
}
.gr_header{
	background-color: white;
	width: 100%;
	height: 44px;
	border-bottom: 1px solid rgb(221,221,221);
	display: flex;
	z-index: 200;
	position: fixed;
	top: 0px;
	bottom: 0px;
	min-width: 340px;
}
.gr_header>input{
	margin:auto 0;
	height: 20px;

}
.gr_header>.gr_header_jane{
	width: 97%;
	text-align: center;
	font-size: 18px;
	height: 44px;
	line-height:44px;
}
.gr_header>.gr_img{
	margin:auto 0;
	height: 20px;
}
.des_main{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	max-height: 100%;
	margin: 0 auto;
	padding: 44px 0 0;
	overflow: hidden;
}
.des_main>.des_section{
	background-color: white;
	width: 100%;
	padding-bottom: 15px;
}
.des_main>.des_section>.des_div_box{
	width: 100%;
}
.des_main>.des_section>.des_div_box>p{
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	padding: 25px 0px;
}
.des_main>.des_section>form{
	padding: 0 0 50px;
}
.des_main>.des_section>form>div{
	width: 100%;
	padding:8px 15px;
}
.des_main>.des_section>form>div>.des_input,.sun_col{
	width: 100%;
	height: 42px;
	padding: 10px 15px;
	border:1px solid rgb(221,221,221);
	border-radius: 3px;
	line-height: 21px;
}
.sun_col{
	background-color: rgb(51,179,113);
	color: white;
}
.des_main>.des_section>form>div>.des_input:focus{
	border-color: rgb(51,179,113);
}
.des_main>.des_section>form>.des_div_box1{
	display: flex;
}
.des_main>.des_section>form>div>.des_input2{
	width: 135px;
	height: 42px;
	margin-left:5px;
	background-color: rgb(51,179,113);
	color: white;
}
.des_main>.des_section>form>p{
	color: #999;
	font-size: 12px;
	padding: 0 15px;
}
.des_footer{
	width: 80%;
	height: 44px;
	min-width: 320px;
	background-color: red;
	margin: auto;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 44px;
	display: none;
	margin-top:40px;
}
.des_main>.des_section>.vr_div_box{
	padding: 28px 15px 0 16px;
	display: flex;
	overflow: hidden;
}
.des_main>.des_section>.vr_div_box>img{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	display: inline-block;
}
.des_main>.des_section>.vr_div_box>div{
	width: 80%;
	height: 30px;
	vertical-align: top;
	line-height: 28px;
	color: rgb(102,102,102);
}
.des_main>.des_section>.vr_div_box>div>.vr_span{
	font-size: 16px;
	color: rgb(51,51,51);
}
.des_main>.des_section>.vr_div_box>div>input{
	width: 45px;
	height: 15px;
	border-radius: 15px;
	line-height: 16px;
	color: white;
	font-size: 10px;
	background-color: rgb(89,164,255);
	cursor: pointer;
}
.des_main>.des_section>.vr_div_box>div>input:nth-child(2){
	background-color: rgb(238,36,238);
}
.vr_bga{
	padding: 5px;
}
.des_main>.des_section>.vr_div{
	width:90px;
	height: 30px;
	padding: 5px 18px;
	font-size: 12px;
	line-height: 20px;
	background-color: rgb(51,179,113);
	border-radius: 3px;
	margin:auto;
}
.des_main>.des_section>.vr_div>a{
	color: white;
	display: block;
}
.vr_section_box{
	margin-top:10px;
}
.vr_section_box>header>ul{
	overflow: hidden;
	width: 100%;
	border-bottom: 1px solid rgb(204,204,204);
}
.vr_section_box>header>ul>li{
	width: 33.333%;
	height: 44px;
	float: left;
	background-color: white;
}
.vr_section_box>header>ul>li>a{
	line-height: 44px;
	color: #333;
	display: block;
	text-align: center;
	height: 100%;
}
.vr_a{
	border-bottom: 2px solid #33b371;
	color:#33b371;
}
.vr_Class:focus{
	border-bottom: 2px solid #33b371;
	color:#33b371;
}
.vr_section_box>.vr_ul_box{
	overflow: hidden;
	width: 100%;
}
.vr_section_box>.vr_ul_box>li{
	width: 100%;
	margin: 0 0 10px 0;
	background-color: white;
	position: relative;
}
.vr_section_box>.vr_ul_box>li>a{
	display: block;
	padding: 15px;
}
.vr_play{
	position:absolute;
	top: 45%;
	left: 47%;
	width: 54px;
	height:54px;
	background:url(../images/play.png) no-repeat center;
	background-size: 100% 100%;
}
.vr_section_box>.vr_ul_box>li>a>div>img{
	display: block;
	height: auto;
	width: 100%;
}
.vr_ul_box>li>a>.vr_modern{
	margin-top: 15px;
	font-size: 16px;
	line-height: 18px;
	color: rgb(102,102,102);
}
/**/
.mo_content>.mo_container{
	width: 100%;
	margin: 0px auto;
	overflow: hidden;
	background-color: white;
	padding: 10px 0;
	margin-bottom: 10px;
}
.mo_content>.mo_container>.mo_container_center{
	margin: auto;
	width: 95%;
	display: flex;
	align-content: space-around;
}
.mo_content>.mo_container>.mo_container_center>.mo_container_div{
	flex: 1;
	width: 66%;
}
.mo_container_center>.mo_container_div_box{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin-left: 10px;
	width: 32%;
	/*height: 90%;*/
}
.mo_container_center>.mo_container_div_box>.mo_container_small{
	flex:1;
	width: 100%;

}
.mo_container_center>.mo_container_div_box>.mo_to{
	/*margin-top:6px;*/
}
.title{
	height: 30px;
	display: block;
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 0px 10px;
	line-height: 30px;
	color: white;
}
.mo_content>.mo_container>.mo_container_center>.mo_container_div>a{
	width: 100%;
	height: 94%;
	position: relative;
	display:block;
}
.mo_content>.mo_container>.mo_container_center>.mo_container_div>a>img{
	width: 100%;
	height:100%;
}
.mo_content>.mo_container>.mo_container_center>.mo_container_div_box>.mo_container_small>a{
	width: 100%;
	height: 89%;
	position: relative;
	display: block;
	overflow: hidden;
}
.mo_content>.mo_container>.mo_container_center>.mo_container_div_box>.mo_container_small>a>img{
	width: 100%;
	height:100%;
}
.vr_modern{
	font-size: 16px;
	line-height: 18px;
	color: rgb(102,102,102);
	margin: -4px 15px 4px 15px;
}
.des_main>.vr_box{
	margin: 0px;
	padding: 0px;
	background-color: rgb(245,245,245);
}
.vr_word_box>ul>li>a>.vr_word{
	height: 22px;
	line-height: 22px;
	font-size: 16px;
	color: rgb(102,102,102);
}
.vr_word_box>.ve_word_case{
	overflow: hidden;
	width: 100%;
}
.vr_word_box>.ve_word_case>li{
	width: 100%;
	overflow: hidden;
	background-color: white;
	margin-bottom: 10px;
}
.vr_word_box>.ve_word_case>li>a{
	padding: 15px;
	width: 100%;
	display: block;
	overflow: hidden;
}
.ve_word_case>li>a>p{
	line-height: 26px;
	
}
.ve_word_case>li>a>p>span{
	color: rgb(135,135,135);
}
.vr_word_box>ul>li>a>ul{
	margin-top: 8px;
	margin-left: 3px;
	width: 100%;
	overflow: hidden;
}
.vr_word_box>ul>li>a>ul>li{
	float: left;
	width: 50%;
}
.vr_word_box>ul>li>a>ul>li>img{
	display: block;
	width: 98%;
}
/*尾部*/
.mo_ownership{
	height: 56px;
	width: 100%;
	min-width: 320px;
	background-color: white;
	margin-top: 10px;
	text-align: center;
	color:#999;
	font-size: 12px;
}
.mo_ownership>div{
	height: 100%;
	padding-top:12px;
	line-height: 18px;
}
/*插件*/
.swiper-container{
    width: 100%;
    height: 100%;
}
.swiper-slide {
    overflow: hidden;
}
.detail>.gr_main{
	padding:0px;
}
.detail>.swiper-container>.swiper-wrapper>.i_slide{
	margin:auto;
}
.detail>.swiper-container>.swiper-wrapper>.i_slide>.swiper-zoom-container>img{
	margin-top: 44px;
}
.i_detail{
	background-color:rgba(0,0,0,0.6);
}
.gr_main>.gr_conta{
	margin-top: 10px;
}
.ca_main{
	background-color: white;
}
.des_main>.ca_section{
	padding: 0 15px;
}
.des_main>.ca_section>.ca_header{
	width: 98%;
	margin: auto;
	border-bottom: 1px solid rgb(221,221,221);
}
.mo_content>.ca_bu{
	margin-bottom: 10px;
}
.ca_section>p{
	color: rgb(102,102,102);
	font-size: 14px;
}
.des_main>.ca_section>.ca_header>p{
	line-height: 40px;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 16px;
	color: #999;
}
.des_main>.ca_section>p>img{
	height: auto;
	display: block;
	margin: 15px 0;
	width: 100%;
}
