*{
	padding: 0px;
	margin: 0px;
	-webkit-tap-highlight-color:transparent;
	box-sizing: border-box;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
	color: black;
	background-color: rgb(245,245,245);
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input,button{
	border:none;
	outline: none;
	-webkit-appearance:none;
}
ul,ol{
	list-style: none;
}
.mo_header{
	position: fixed;
	top: 0px;
	z-index: 20;
	height: 44px;
	width: 100%;
	background-color: white;
	display: flex;
	min-width: 320px;
	border-bottom: 1px solid rgb(214,214,214);
}
.mo_header>.mo_logo{
	height: 44px;
	width:104px;
	padding-top: 11px;
	padding-left: 3px;
}
.mo_header>.mo_logo>img{
	width: 84px;
	height: 20px;

}
.mo_header>.mo_word{
	width: 100%;
	height: 100%;
	line-height: 250%;
	font-size: 18px;

}
.mo_horizontal>button{
    padding:12px;
    float: right;
    height: 100%;
    background-color: white;
}
.mo_horizontal>button>i{
    width:20px;
    height:20px;
    background: url(../images/icon_nav-caidan.png) no-repeat center;
    background-size: 20px 20px;
    display:block;
}
.mo_content{
	margin: 0px auto;
	max-width: 640px;
	min-width: 320px;
	width:100%;
	background-color: #f5f5f5;
	/*overflow: hidden;*/
}
.de_section{
	position: fixed;
	z-index: 100;
	top: 44px;
	left: 0px;
	right: 0px;
	height: 40px;
}
.de_section>.de_header{
	height:44px;
	width: 100%;
	margin: 0px auto;
	min-width: 320px;
	max-width: 640px;
	background-color: white;
	display: fixed;
	border-bottom: 1px solid rgb(214,214,214);
}
.de_section>.de_header>img{
	height: 22px;
	margin-top: 11px;
	margin-left:10px;
}
.de_section>.de_header>.img{
	margin-left: 0px;
}
.de_section>.de_header>.de_address{
	height: 43px;
	line-height: 20px;
	background-color: white;
	vertical-align: top;
}
.de_center{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin-top: 88px;
}
.de_center>.de_center_box>.de_center_header>a{
	display: block;
	width: 100%;
	display: flex;
}
.de_center>.de_center_box>.de_center_header>a>div:nth-child(1){
	background:url(../images/people1.jpg) no-repeat center;
	width: 56px;
	height: 56px;
	border-radius: 28px;
	margin:5px;
}
#person2_header{
	background:url(../images/people2.jpg) no-repeat center;
}
.de_center>.de_center_box>.de_center_header{
	position: relative;
	background-color: white;
	margin-bottom: 10px;
}
.de_center>.de_center_box>.de_center_header>a>div:nth-child(2){
	width: 80%;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
	margin-top: 5px;
	color: rgb(102,102,102);
}
.de_center>.de_center_box>.de_center_header>a>div:nth-child(2)>p>input{
	width: 45px;
	height: 15px;
	border-radius: 15px;
	line-height: 16px;
	color: white;
	font-size: 10px;
	background-color: rgb(238,36,238);
	cursor: pointer;
}
.de_center>.de_center_box>.de_center_header>.de_ta{
	width:90px;
	height: 30px;
	position:absolute;
	top: 15px;
	right: 10px;
	padding: 5px 18px;
	font-size: 12px;
	line-height: 20px;
	background-color: #33b371;
	border-radius: 3px;
	color: white;
}
.de_center>.de_center_box>.de_center_header>a>div:nth-child(2)>p>input:nth-child(2){
	background-color: rgb(89,164,255);
}
.de_center>.de_center_box>.de_center_header>a>div:nth-child(2)>p{
	margin-top: -10px;
}

.de_a,.de_p{
	color: rgb(102,102,102);
	cursor: pointer;
	padding-left: 8px;
}
.de_a>span{
	padding-left: 10px;
	color: red;
}
.de_ul_img_box{
	overflow: hidden;
}
.de_ul_img_box>li{
	float: left;
	width: 33.33333%;
}
.de_ul_img_box>li>a{
	display: block;
	width: 100%;
}
.de_ul_img_box>li>a>img{
	display: block;
	height: auto;
	width:98%;
}
.detail{
	background-color:rgb(245,245,245); 
	overflow: hidden;
}
.gr_header{
	background-color: white;
	width: 100%;
	height: 44px;
	border-bottom: 1px solid rgb(221,221,221);
	display: flex;
	z-index: 200;
	position: fixed;
	top: 0px;
	bottom: 0px;
	min-width: 340px;
}
.gr_header>input{
	margin:auto 0;
	height: 20px;

}
.gr_header>.gr_header_jane{
	width: 97%;
	text-align: center;
	font-size: 18px;
	height: 44px;
	line-height:44px;
}
.gr_header>.gr_img{
	margin:auto 0;
	height: 20px;
}
.des_main{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	max-height: 100%;
	margin: 0 auto;
	padding: 44px 0 56px;
	overflow: hidden;
}
.des_main>.des_section{
	background-color: white;
	width: 100%;
}
.des_main>.des_section>.des_div_box{
	width: 100%;
}
.des_main>.des_section>.des_div_box>p{
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	padding: 25px 0px;
}
.des_main>.des_section>form{
	padding: 0 0 50px;
}
.des_main>.des_section>form>div{
	width: 100%;
	padding:8px 15px;
}
.des_main>.des_section>form>div>.des_input{
	width: 100%;
	height: 42px;
	padding: 10px 15px;
	border:1px solid rgb(221,221,221);
	border-radius: 3px;
	line-height: 21px;
	/*color: rgb(204,204,204);*/
}
.des_main>.des_section>form>.des_div_box1{
	display: flex;

}
.des_main>.des_section>form>div>.des_input1{
	width: 100%;
}
.des_main>.des_section>form>div>.des_input2{
	width: 135px;
	height: 42px;
	margin-left:5px;
	background-color: rgb(51,179,113);
	color: white;
}
.des_main>.des_section>form>div>.des_input3{
	background-color: rgb(51,179,113);
	font-size: 16px;
	color: white;
}
.des_main>.des_section>form>p{
	color: #999;
	font-size: 12px;
	padding: 0 15px;
}
.des_footer{
	width: 80%;
	height: 44px;
	min-width: 320px;
	background-color: red;
	margin: auto;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 44px;
	display: none;
}
.des_main>.des_section>div{
	padding: 28px 15px 0 16px;
}
.des_main>.des_section>div>img{
	width: 80px;
	height: 80px;
	border-radius: 56px;
}
/*尾部*/
.mo_ownership{
	height: 56px;
	width: 100%;
	min-width: 320px;
	background-color: white;
	margin-top: 10px;
	text-align: center;
	color:#999;
	font-size: 12px;
}
.mo_ownership>div{
	height: 100%;
	padding-top:12px;
	line-height: 18px;
}