*{
    margin:0;
    padding: 0;
    -webkit-tap-highlight-color:transparent;
    box-sizing: border-box;
    -webkit-box-sizing:border-box; 
}
body{
    font-size: 16px;
    font-family: "微软雅黑";
    background-color: rgb(245,245,245);
}
a{
  text-decoration: none;
}
input{
    outline: none;
    -webkit-appearance:none; 
}
.found{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 35px;
}
.found>.foundheader{
    position: fixed;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%;
    background-color:white;
}
.foundbox{
    display: flex;
    width: 100%;
}
.foundbox>a{
    width: 23%;
  
}
.foundbox>a>img{
    width: 93%;
    height: 20px;
    margin-top: 10px; 
   /* margin-left:20px; */ 
}
.pk{
    width: 60%;
    /*display: flex;*/
    margin-top: 10px;
    text-align: left;
}
.henggang{
    width: 30px;
    background-image: url(../images/henggang.png);
    background-size: 12px 12px;
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    margin-top: 15px;
    margin-left:20px;
}

.productbox{
    width: 100%;
    background-color:white;
    margin-top: 10px;
    height: 245px;
}
.getname>img{
    width: 50px;
    height:50px;
    border-radius: 50%;
}
.getname{
    margin-top: 12px;
    display: inline-block;
}
.firstname{
    display: inline-block;
    font-size: 18px;
}
.firstname_1{
    display: inline-block;
    width: 63%;
    text-align: right;
}
.experience{
    margin-top: 16px;
    margin-left:50px;
    font-size: 15px;
}
.picture{
    width: 100%;
}
.picture>img{
    width: 30%;
    height: 110px;
    display: inline;
    margin-left: 5px;
    margin-top:20px;
}
span{
    font-size: 13px;
    color: red;
}
footer{
    padding-top: 44px; 
}
.last{
    width: 100%;
    height: 44px;

    background-color: rgb(76,76,76);
}
.last>a{
    width: 49%;
    display: inline-block;
}
.last>a>img{
    width: 100%;
    height: 44px;
}
footer>.last{
    position: fixed;
    height: 44px;
    width: 100%;
    bottom: 0;
    left: 0;
    
}
