/*定义一些通用样式*/
*{
    margin:0;
    padding: 0;
    -webkit-tap-highlight-color:transparent;
    box-sizing: border-box;
    -webkit-box-sizing:border-box; 
}
body{
    font-size: 14px;
    font-family: "微软雅黑";
    color:rgb(239,239,244);
}
a{
    color: rgb(239,239,244);
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
input{
    outline: none;/*去掉选中状态下的高亮效果*/
    -webkit-appearance:none; /*清除移动端默认的表单样式 */
}
ul,li{
    list-style: none;
}
.home{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    background-color: rgb(239,239,244);
}
.home>.homeheader{
    position: fixed;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%;
    z-index: 300;
}
.home>.homeheader>.headerbox{
    background-color: rgba(255,255,255,1); 
    height: 100%;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    align-items:center;
}
.lolg>img{
    width: 31px;
    height: 31px;
    margin-left:20px;
}
.headerbox>form{
    flex:1;
    position: relative;
}
.headerbox>form>input{
    /*width: 100%;*/
    height: 28px;
    border-radius: 5px;
    padding-left: 35px;
    margin-left: 25px;
}
.denglu{
    height: 44px;
    line-height: 44px;
    text-align:center;
    color:red;
    font-size: 18px;
    margin-right: 30px;
}
.lunbo{
    width: 100%; 
    overflow: hidden;
    position: relative;
}
.lunbo>.imagebox{
    width: 500%;
    overflow: hidden;
    transform: translateX(-33.3%)
}
.lunbo>.imagebox>li{
    width: 33.3%;
    float: left; 
}
.lunbo>.imagebox>li>a,.lunbo>.imagebox>li>a>img{
    width: 100%;
   display: block;
}
.homenav{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e0e0e0;
    background-color: white;
}
.homenav>.homenav1{
    display: flex;
    justify-content: space-around;
    margin-top:10px;
    margin-bottom: 10px;
}
.homenav>.homenav1>div{
    width: 60px;
    height: 80px;
}
.homenav>.homenav1>div>a>img{
    width: 100%;
    display: block;
}
.homenav>.homenav1>div>p{
    text-align: center;
    color: #333;
}
.productbox{
    width: 100%;
    background-color:white;
    margin-top: 10px;
    height: 280px;
}
.productbox>.productboxtitle{
    /*height: 30px;*/
    font-size: 16px;
    margin-left: 20px;
    /*height: 300px;*/
    /*border-bottom: 1px solid #e0e0e0;*/
}
.product>.productbox>.productboxtitle_noborder{
    border-bottom: none;
}
.titleleft{
    overflow: hidden;
}
.titleright{
    float:right;
    color: black;
    font-size: 14px;
    margin-right:20px;
}
.bed1{
    background-image:url(../images/bigbed1.jpg);
    width: 49%;
    height: 240px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 188px 244px;
    margin-top: 10px;
}
.bed2{
    background-image:url(../images/bigbed2.jpg);
    width: 49%;
    height: 240px;
    display: inline-block;
    background-size: 188px 244px;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.clear_f1{
    width: 66%;
    /*display: inline-block;*/
    float: left;
}
.clear_f2{
    width: 33%;
    /*display: inline-block;*/
    float: left;
}
.clear_f1>a,.clear_f1>a>img,.clear_f2>a,.clear_f2>a>img{
    display: block;
}
.poto1{
    width: 100%;
    height: 64px;
}
.poto2{
    width: 49%;
    height: 149px;
    display: inline-block;
}
.poto3{
    width: 49%;
    height: 149px;
    display: inline-block;
}
.poto4{
    width: 100%;
    height: 222px;
}
.productbox_con{
    margin-top: 20px;
}
.last{
    background-color: white;
    width: 100%;
    height: 44px;
    margin-top: 8px;
    position: fixed;

}
.last>a>img{
    width: 40px;
    height: 40px;
    margin: 25px;
    margin-top: 4px;
    margin-right:35px;
}
footer>.last{
    position: fixed;
    height: 44px;
    width: 100%;
    bottom: 0;
    left: 0;
    
}

/*插件样式*/
html,body{
        position: relative;
        height: 100%;
    }
body {
    background: #eee;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-top: 45px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}