<header class="vr_header">
    <div class="div_header header_bottom">
        <div class="head_logo">
            <a href="#!community_reform" class="community_home" style="background: white;" ng-click="Reply()">
                <img src="../images/icon_nav-fanhiu.png" alt="">
            </a>
            <div>回复</div>
        </div>
    </div>
</header>
<section>
    <div class="Reply_text">
        <textarea placeholder="回复" oninput="numb()" maxlength="200"></textarea>
        <div>你还可以输入<span>200</span>字</div>
    </div>
    <div class="upload_div">
        <div><input type="file" name=""></div>
        <span>上传图片附件</span>
    </div>
    <div class="Publish_div">
        <input type="button" name="" value="发表" ng-click="Publish()">
    </div>
    <div class="Customer_service">

    </div>
</section>