<header class="vr_header">
    <div class="div_header header_bottom">
        <div class="head_logo">
            <a href="#!community_home" class="community_home">
                <img src="../images/icon_nav-fanhiu.png" alt="">
            </a>
            <div>户型改造</div>
            <button><i></i></button>
        </div>
    </div>
</header>
<section class="reform_section">
    <div class="reform_Title">求指点，我该怎么装修好看？</div>
    <div class="reform_theme">
        <div class="user_title">
            <img src="../images/avatar.jpg@!60x60.jpg" alt="">
            <div class="user_name_div">187****9119</div>
            <div class="user_data">
                <span>07月10日</span>
                <span class="vertical"></span>
                <div>
                    <img src="../images/icon_24_reply.png" alt="">
                    <span>3</span>
                </div>
            </div>
            <div class="reform_content">
                <div>因场地有限，房间有点小，我该怎么设计合适呢？</div>
                <img src="../images/8b4adcea652d11e79da100163e0c3546.jpg" alt=""><br>
                <img src="../images/9b666a4a652d11e7ac8500163e0c3546.jpg" alt=""><br>
                <img src="../images/a52a74b8652d11e7852a00163e0c3546.jpg" alt=""><br>
                <div class="a_right">
                    <a href="#!Community_Reply">回复</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="reform_section_tow">
    <div class="color_div"></div>
    <div class="reform_Post">
        <div class="Recommend_div"><div>推荐帖子</div></div>
        <div class="list_post">
            <ul>
                <li>大家报我看看，该怎么设计</li>
                <li>麻烦帮我下，这个应该怎么装修，别让大门对着主卧室</li>
            </ul>
        </div>
    </div>
</section>
<section class="reform_section_three">
    <div class="color_div"></div>
    <div class="reform_Post">
            <div class="Recommend_div"><div>评论</div></div>
            <div class="comment_user">
                <ul class="comment_ul">
                    <li>
                        <img src="../images/avatar.jpg@!60x60.jpg" alt="">
                        <div>
                            <div class="user_name_title">
                                <span>寂寞蓝骑</span>
                                <div>
                                    <span>07月11日</span>
                                    <span>丨</span>
                                    <span>1楼</span>
                                </div>
                            </div>
                            <div class="user_content">
                                <p>免费量房，出2-3份设计和报价参考对比，并有样板间和工地参观，微信号：13799570071；QQ：289474304</p>
                            </div>
                            <div class="user_button">
                                <a href="#!Community_Reply" class="input_a">回复</a>
                                <input type="button" name="" value="点赞(0)" class="input_a" onclick="Realy_input(this)">
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="../images/132e6fa2f4c011e6890900163e0c3546.jpg@!60x60.jpg" alt="">
                        <div>
                            <div class="user_name_title">
                                <span>不知道的事</span>
                                <div>
                                    <span>07月11日</span>
                                    <span>丨</span>
                                    <span>2楼</span>
                                </div>
                            </div>
                            <div class="user_content">
                                <p>房间其实也蛮大的，客餐厅打通好一些</p>
                            </div>
                            <div class="user_button">
                                <a href="#!Community_Reply" class="input_a">回复</a>
                                <input type="button" name="" value="点赞(0)" class="input_a" onclick="Realy_input(this)">
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="../images/a816425ab79b11e6963400163e000ee8.jpg@!60x60.jpg" alt="">
                        <div>
                            <div class="user_name_title">
                                <span>爱福窝小管家</span>
                                <div>
                                    <span>07月11日</span>
                                    <span>丨</span>
                                    <span>3楼</span>
                                </div>
                            </div>
                            <div class="user_content">
                                <p>开放式的厨房吗？</p>
                            </div>
                            <div class="user_button">
                                <a href="#!Community_Reply" class="input_a">回复</a>
                                <input type="button" name="" value="点赞(0)" class="input_a" onclick="Realy_input(this)">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</section>
<section class="reform_section_three">
    <div class="color_div"></div>
</section>