<header class="vr_header">
    <div class="div_header">
        <div class="head_logo">
            <a href="../index.html"><img src="../images/logo.png" alt=""></a>
            <span>• 社区</span>
            <button><i></i></button>
        </div>
    </div>
</header>
<section>
    <div>
        <ul class="list_Hot">
            <li class="Recommend"><div>热门推荐</div></li>
        </ul>
    </div>
    <div class="tail_buttom">
        <a href="" class="tail_left">
            <div>
                <i></i>
                <div>免费量房设计</div>
                <span>小户型玩出大空间</span>
            </div>
        </a>
        <a href="" class="tail_right">
            <div>
                <i></i>
                <div>免费智能报价</div>
                <span>装修预算没烦恼</span>
            </div>
        </a>
    </div>
    <div class="Customer_service">

    </div>
    <a href="#" class="to_top"></a>
</section>