<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <script src="../js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/Decoration_tow.css">
</head>
<body>
    <header>
        <div>
            <a href="" onclick="afun()"><img src="../images/icon_nav-fanhiu.png" alt=""></a>
            <div>装修知识</div>
            <button><i></i></button>
        </div>
    </header>
    <section>
        <div class="Title_name">贴腰线的墙面就像大长腿一样美</div>
        <div class="position_div">
            <a href="../index.html">首页</a> >
            <a href="#">装修知识</a>
            <span>51分钟前</span>
        </div>
        <div class="theme_text">

        </div>
        <div class="theme_list">
            <ul>
                <!-- <li>
                    <div>
                        <img src="http://img.fuwo.com/attachment/1612/20/825271cec69b11e6901900163e00254c.jpg@!200x200.jpg" alt="">
                        <div>
                            <div>腰线的存在驱散了墙面的单调沉闷，使室内元素变得丰富起来，在空间起到一种画龙点睛的作用同时，也反映了屋主主人的个性、品位和生活情趣。</div>
                            <span>
                                <div>82</div>
                                <span>2016年08月18日</span>
                            </span>
                        </div>
                    </div>
                </li> -->
            </ul>
        </div>
    </section>
    <!-- 尾部 -->
    <footer class="footer">
    <div>爱福窝版权所有</div>
    <div>copyright 2016 fuwo.com</div>
    </footer>
    <script src="../js/Decoration_tow.js"></script>
</body>
</html>