<!-- <header class="mo_header">
	<a class="mo_logo">
		<img src="../images/logo.png" alt="">
	</a>
	<div class="mo_word">·找设计师</div>
	<div class="mo_horizontal">
		<button class="mo_img"><i></i></button>
	</div>
</header> -->
<div class="afw_container">
	<header class="afw_header">
		<div class="afw_header_box">
			<a href="../index.html"><img src="../images/download.png" alt=""></a>
			<div id="mo_word">·找设计师</div>
			<!-- 侧边菜单 -->
			<a href="../html/login1.html" class="Sidebar"></a>
		</div>
	</header>
</div>
<main class="mo_content">
	<section class="de_section">
		<div class="de_header">
			<img src="../images/address.png" >
			<button class="de_address">上海</button>
			<img src="../images/bottom.png" class="img">
		</div>
	</section>
	<section class="de_center">
		<ul class="de_center_box">
			<li class="de_center_header">
				<a href="#!vr">
					<div></div>
					<div>
						<span>黄娇</span>
						<p>
							<input type="button" value="首席">
							<input type="button" value="认证">
						</p>
					</div>
					<a href="#!vr" class="de_a">
						上海 上海
						<span>3年</span>设计经验
						<span>152次</span>预约
					</a>
					<p class="de_p">擅长现代简约等</p>
					<ul class="de_ul_img_box">
						<li><a href="#!vr"><img src="../images/de_1.jpg" alt=""></a></li>
						<li><a href="#!vr"><img src="../images/de_2.jpg" alt=""></a></li>
						<li><a href="#!vr"><img src="../images/de_3.jpg" alt=""></a></li>
					</ul>
				</a>
				<a href="#!Designforhim" class="de_ta">找TA设计</a>
			</li>
			<li class="de_center_header">
				<a href="#!vrman" >
					<div id="person2_header"></div>
					<div>
						<span>张潇</span>
						<p>
							<input type="button" value="首席">
							<input type="button" value="认证">
						</p>
					</div>
					<a href="#!vrman" class="de_a">
						上海 上海
						<span>6年</span>设计经验
						<span>151次</span>预约
					</a>
					<p class="de_p">擅长现代简约、欧式等</p>
					<ul class="de_ul_img_box">
						<li><a href="#!vrman"><img src="../images/de_4.jpg" alt=""></a></li>
						<li><a href="#!vrman"><img src="../images/de_5.jpg" alt=""></a></li>
						<li><a href="#!vrman"><img src="../images/de_6.jpg" alt=""></a></li>
					</ul>
				</a>
				<a href="#!Designforhim" class="de_ta">找TA设计</a>
			</li>
		</ul>
	</section>
</main>
<footer class="mo_ownership">
		<div>爱福窝版权所有<br>copyright 2016 fuwo.com</div>
</footer>