<div class="detail i_detail">
	<div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide i_slide" ng-repeat="img in img_sumList">
                <div class="swiper-zoom-container">
                    <img src="../images/{{img.img}}">
                    <div class="gr_header im_header">
						<input type="image" ng-click="back()" src="../images/icon_gengduo.png">
						<div class="gr_header_jane">{{img.introduce}}</div>
						<input type="image" name="" src="../images/icon_nav-caidan.png" class="gr_img">
					</div>
                </div>
           	</div>
         </div>
	</div>
</div>
    <!-- <img data-original="images/example.png" class = "lazy" > -->
   
   