<div class="detail">
	<div class="gr_header">
		<input type="image" ng-click="back()" src="../images/icon_gengduo.png">
		<div class="gr_header_jane">找TA设计</div>
		<input type="image" name="" src="../images/icon_nav-caidan.png" class="gr_img">
	</div>
	<main class="des_main">
		<section class="des_section">
			<div class="des_div_box">
				<p>已有<span>811</span>位用户申请</p>
			</div>
			<form action="" id="form">
				<div>
					<input type="text" placeholder="请输入你的称呼" class="des_input des_click" required name="call" ng-click="des_click()">
				</div>
				<div>
					<input type="tel" placeholder="请输入你的手机号" class="des_input des_click1" ng-click="des_click1()">
				</div>
				<div class="des_div_box1">
					<input type="text" placeholder="请输入短信验证码" class="des_input1 des_input des_click2" ng-click="des_click2()">
					<input type="button" value="获取短信验证码" class="des_input2 des_input">
				</div>
				<div>
					<select class="des_input" >
						<option>上海</option>
					</select>
				</div>
				<div>
					<input type="submit" value="预约免费设计" class="des_input des_input3" ng-click="getGesi()">
				</div>
				<p>*您的信息将会严格的保密，资料提交后客服将在224小时之内联系您</p>
			</form>
		</section>
	</main>
	<div class="des_footer"></div>
</div>
